.wrapper {
  display: flex;
  padding: var(--spacing-24, 96px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4, 16px);
}

.title {
  text-align: center;
  font-family: var(--display);
  font-size: var(--font-4xl);
  font-weight: 600;
  line-height: var(--leading-none);
}

.name {
  color: var(--muted-foreground, #525252);
  text-align: center;

  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: var(--leading-8);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-4, 16px);
}

.linkButton {
  width: 120px;
}


.elementLink {
  text-decoration: none;
  color:black;
}
