.custonHeader{
    width: 100%;
    display: flex;
}

.custonHeader__logo{
    background-color: white;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.custonHeader__logoUl{
    list-style: none;
    padding:0;
    margin:0;
    padding-left: 16px;
    display: flex;
    gap:16px;
}

.custonHeader__logoUl li{
    padding:0;
    text-align: center;
    padding: 4px 6px;
}

.link{
    text-decoration: None;
    color:black;
}

.tipografiaUno{
    color: var(--foreground, #171717);

/* text-xl/leading-8/semibold */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 160% */
}

.tipografiaDos{
    color: var(--foreground, #171717);

/* text-sm/leading-5/medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}