.wrapper {
  padding: var(--spacing-12, 48px) 0;
}

.title {
  text-align: center;

  /* display-4xl/leading-none/semibold */
  font-family: var(--display);
  font-size: var(--font-4xl);
  font-weight: 600;
  line-height: var(--leading-none);
  margin-bottom: var(--spacing-4);
}

.description {
  text-align: center;

  font-size: var(--font-lg);
  line-height: var(--leading-8);
  margin-bottom: var(--spacing-4);
}

.rgb-wrapper {
  display: flex;
  justify-content: center;
  gap: var(--spacing-2, 8px);
  margin-bottom: var(--spacing-8);
}

.rgb {
  display: flex;
  width: var(--spacing-24, 96px);
  height: var(--spacing-24, 96px);
  padding: 4px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--rounded, 4px);
  background: var(--background, #fff);
  border: 4px solid;
}

.color-number {
  text-align: center;
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: var(--leading-8);

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.color-name {
  text-align: center;

  /* text-lg/leading-8/regular */
  font-size: var(--font-lg);
  line-height: var(--leading-8);
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8, 32px);
  margin-bottom: var(--spacing-8);
}

.number-input {
  display: flex;
  align-items: center;
  gap: var(--spacing-2, 8px);
  color: var(--foreground, #171717);
}

.number-input > label {
  flex-shrink: 0;
  color: var(--muted-foreground, #525252);

  /* text-base/leading-7/regular */
  font-size: var(--font-base);
  font-weight: 400;
  line-height: var(--leading-7);
}

.game-status {
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: var(--leading-8);
  width: 160px;
  text-align: center;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--width-md);
  margin-inline: auto;
  gap: 8px;
}

.square {
  border: none;
  cursor: pointer;
  width: var(--spacing-36, 144px);
  height: var(--spacing-36, 144px);
  border-radius: var(--rounded, 4px);

  transition: opacity 300ms, background-color 150ms;
}


.container__componente{
  display: flex;
  justify-content: center;
  margin-bottom:16px;
  width: 100%;
}


.color{
  display: flex;
  flex-direction: row;
  gap:16px;
}

.color div{
  width:96px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}